/* print css for BOARD */

input, img, textarea, nav, header {
    display: none;
}

article, .user-data-container {
    border: none;
}

article {
    margin: 15px 0;
    padding: 0px;
}

article > p {
    margin-top: 5px;
}

.user-data-container > p {
    margin: 0px;
}